@charset "utf-8";
/* CSS Document */

/*			Define 	All			*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/*			Make Sure Every Subelement Is Aligned Center 		*/
body{
	text-align:center;
    background-image:linear-gradient(125deg,#74ebd5,#ACB6E5,#8360c3,#2ebf91);
	background-size:400%;
	animation:bgcolor 80s infinite;			/*   This is studied from online tutorial at address https://www.bilibili.com/video/BV1St411P7ef?t=45 */
}

@keyframes bgcolor{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

input{
	border:2px solid rgba(255,255,255,1.00);
	box-shadow:0px 0px 5px 0.5px white;
	border-radius:5px;
	padding: 10px;
	transition:0.6s;
}
input:focus{
	border:2px solid rgba(104,196,255,1.00);
	outline:0;
	box-shadow:0px 0px 5px 0.5px lightblue;
}








/* 			Navigation is fixed position with every <a> element aligned center 		*/
#Nav{
	text-align:center;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 20px 100px;
	z-index:3;

}

/* 			inline-block make sure li element is displayed in line instead of taking whole row 			*/
#Nav ul{
    position: relative;
    display: inline-block;
    align-items: center;
}

#Nav ul li{
    position: relative;
    list-style-type: none;
    display: inline-block;
}


/*			Transition to make color appear slowly  		*/
#Nav ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    color:black;
    text-transform: uppercase;
    transition: 0.6s;
	font-size:15px;
    letter-spacing: 2px;

}

/*			Change color when hover 		*/
#Nav ul li a:hover{
	color:aqua;
}


/*		Incase overflow  Ensure nav fixed and change color accordingly 		*/
#Nav.sticky{
	padding: 10px 100px;
	background: black;
}

#Nav.sticky ul li a{
	color:white
}

#Nav.sticky ul li a:hover{
	color:aqua
}












/*		Define all task class 		*/
.task{
	position:relative;
	width:1000px;
	height:800px;
	margin:100px auto 0px;
	border-radius:5px;
	background:white;
	box-shadow:0px 0px 10px 0.1px silver;
}
.cardtime{
	font-size:30px;
	height:40px;
	width:60px;
	background:#161616;
	color:white;
	display:inline-block;
	border-radius:10%
}
.break{
	font-size:30px;
	color:black;
	display:inline-block;
	border-radius:10%
}











/*		Define timer default block and others none to show timer first 		*/
/*      Timer      */
#timer{
	background:rgba(255,255,255,0.45);
	display:block;
	transition: 0.6s;
	 
}


#timer::before{
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	filter:blur(5px);
}

#inactive{
	border-radius:15px;
	text-align:center;
	height:50px;
	width:300px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	display:block;
} 

#setting{
	border-radius:15px;
	text-align:center;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:500px auto 0px;
	display:inline-block;
}


#inactive_a{
	border-radius:15px;
	text-align:center;
	height:50px;
	width:300px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	display:block;
} 

#clock{
	height:100px;
	width:50px;
	color:black;
	font-size:40px;
	text-shadow:gray 1px 2px 5px;
}

#timer:hover{
	box-shadow:0px 0px 10px 0.1px green;
}

#active{
	display:none;	
	margin-top:100px;
	text-align:right;
}

#watch1{
	height:50px;
	width:50px;
	background:black;
	display:inline-block;
	margin:720px 0px 0px;
	border-radius:50%;
	transition:0.6s;
	background:rgba(0,0,0,0.5);
	cursor:pointer;
}


#watch2{
	height:50px;
	width:50px;
	background:black;
	display:inline-block;
	margin:720px 20px 0px;	
	border-radius:50%;
	transition:0.6s;
	background:rgba(0,0,0,0.5);
	cursor:pointer;
}

#watch1:hover{
	border-radius:15%;
	background:rgba(0,0,0,1);
}

#watch2:hover{
	border-radius:15%;
	background:rgba(0,0,0,1);
}







#KanBan{
	display:none;
	transition: 0.6s;
}

#Reading{
	display:none;
	transition: 0.6s;
}

#Music{
	display:none;
	transition: 0.6s;
}
